<%= form_with(model: property, class: "contents", data: {
  controller: 'nested-form',
  nested_form_wrapper_selector_value: '.nested-form-wrapper'
}) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <h2 class="font-bold text-2xl">Property Information</h1>
  </div>

  <div class="my-5">
    <%= form.label :address %>
    <%= form.text_field :address, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :city %>
    <%= form.text_field :city, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :state %><br>
    <%= form.select :state, options_for_select(US_STATES, @property.state), {}, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2" %>
  </div>

  <div class="my-5">
    <h2 class="font-bold text-2xl">Units</h1>
  </div> 
  
  <%= render "unit_nested_form", form: form %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-rose-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
