<template data-nested-form-target="template">
    <%= form.fields_for :units, Unit.new, child_index: 'NEW_RECORD' do |unit_fields| %>
        <%= render "unit_fields", form: unit_fields %>
    <% end %>
</template>

<div class="my-5">
    <%= form.label :units %>
    <div>
        <%= form.fields_for :units do |unit_fields| %>
            <%= render "unit_fields", form: unit_fields %>
        <% end %>
        <!-- Inserted elements will be injected before this target. -->
        <div data-nested-form-target="target"></div>
    </div>
    <button type="button" 
            data-action="nested-form#add"
            class="btn">Add Unit
    </button>
</div>