<div class="mx-auto md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Properties" %>

  <div class="mb-5">
    <%= render "shared/properties_search_bar" %>
  </div>

  <div class="my-5 flex justify-between items-center">
    <h1 class="font-bold text-4xl">Properties</h1>
    <%= render "shared/add_a_new_property_button" %>
  </div>

  <% if params[:city].present? %>
    <div class="my-5">
      <p>Your search for "<%= params[:city] %>" returned <%= @pagy.count %> properties:
    </div>
  <% end %>

  <div id="properties-list" class="min-w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-4">
    <% @properties.each do |property| %>
      <%= render "properties/property_thumbnail", property: property %>
    <% end %>
  </div>

  <div id="properties-page-nav" class="my-5 grid justify-items-center">
    <%== pagy_nav(@pagy) %>
  </div>
</div>
