<div id="<%= dom_id unit %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Property:</strong>
    <%= unit.property_id_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bedroom count:</strong>
    <%= unit.bedroom_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bathroom count:</strong>
    <%= unit.bathroom_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Square footage:</strong>
    <%= unit.square_footage %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rent price:</strong>
    <%= unit.rent_price %>
  </p>

</div>
